.Middle b {
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: start;
  margin-bottom: 32px;

  color: #ffffff;
}
.Middle p {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 40px 0px;
  
  color: #ffffff;
}
.Middle button {
  padding: 16px 24px;

  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;

  background: #fd5a14;
  border-radius: 2px;
}
.Middle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 192px;
}
